<manifest
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="com.geekstest.instantappmodule">
    <dist:module
            dist:instant="true"
            dist:title="@string/instantAppWelcome">
        <dist:delivery>
            <dist:install-time/>
        </dist:delivery>
        <dist:fusing dist:include="false"/>
    </dist:module>
</manifest>

